vishnu-finance/n8n/finance-workflow.json
{
    "name": "Finance Notification Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "finance-webhook",
                "options": {}
            },
            "id": "b41db3af-13fb-4de7-8493-d300e6ccc0ab",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "webhookId": "finance-webhook"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "={{ $json.body.event }}",
                                    "type": "string"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.event }}",
                                        "rightValue": "otp_phone_delivery",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "OTP Delivery"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "={{ $json.body.event }}",
                                    "type": "string"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.event }}",
                                        "rightValue": "notification",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Standard Notification"
                        }
                    ]
                },
                "options": {}
            },
            "id": "switch-node-id",
            "name": "Event Router",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                200,
                0
            ]
        },
        {
            "parameters": {
                "requestMethod": "POST",
                "url": "http://localhost:3000/api/n8n/webhook",
                "options": {},
                "bodyParametersUi": {
                    "parameter": [
                        {
                            "name": "type",
                            "value": "DAILY_QUOTE"
                        },
                        {
                            "name": "data",
                            "value": "={{ $json.body }}"
                        }
                    ]
                },
                "headerParametersUi": {
                    "parameter": [
                        {
                            "name": "x-n8n-token",
                            "value": "finance_secure_token_90211"
                        }
                    ]
                }
            },
            "id": "dd1143ef-38b2-456a-b5aa-29a22c5859cf",
            "name": "Push to App",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
                500,
                -150
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $json.body.payload.telegramUserId }}",
                "text": "={{ $json.body.payload.message }}",
                "additionalFields": {}
            },
            "id": "dd57518b-41bc-4a05-9273-0ee41936f844",
            "name": "Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                750,
                -150
            ],
            "retryOnFail": true,
            "credentials": {
                "telegramApi": {
                    "id": "lExb5jWeErJ5hCyT",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "requestMethod": "POST",
                "url": "https://defaultecad5b7df11f4f4c98a4a18703be63.22.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/d3024fef11ac409ebd151466086de121/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=jc-WPpDSYs9dVzMYCh6SqjGfZrRqWAbdPjN_85Kyg7o",
                "options": {},
                "bodyParametersUi": {
                    "parameter": [
                        {
                            "name": "text",
                            "value": "={{ $json.body.payload.message }}"
                        }
                    ]
                }
            },
            "id": "e969d27f-9584-4b53-b0fc-71b3152db9ed",
            "name": "Microsoft Teams Webhook",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
                750,
                0
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "from": "+18207321092",
                "to": "={{ $json.body.payload.phone }}",
                "message": "={{ $json.body.payload.otp ? 'Your Finance App OTP is: ' + $json.body.payload.otp : $json.body.payload.message }}",
                "whatsapp": false
            },
            "id": "twilio-sms-node",
            "name": "Twilio SMS",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                500,
                200
            ],
            "credentials": {
                "twilioApi": {
                    "id": "twilio-creds-id",
                    "name": "Twilio account"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Event Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Event Router": {
            "main": [
                [
                    {
                        "node": "Twilio SMS",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Push to App",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Telegram",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Microsoft Teams Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": true
}